@import "tailwindcss";

@font-face {
  font-family: "roboto";
  src: url("./assets/fonts/Roboto-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "roboto";
  src: url("./assets/fonts/Roboto-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "roboto";
  src: url("./assets/fonts/Roboto-ExtraBold.ttf");
  font-weight: 900;
}

@theme {
  --color-back: var(--background);
  --color-text: var(--text);
  --color-blueA: var(--blueA);
  --color-blueB: var(--blueB);
  --color-blueC: var(--blueC);
  --color-blueD: var(--blueD);
  --color-wA: var(--wA);
  --color-blueF: var(--blueF);
  --color-blueG: var(--blueG);
  --color-blueH: var(--blueH);
  --color-blueI: var(--blueI);
  --color-blueJ: var(--blueJ);
  --color-error: var(--error);
}

:root.light {
  --background: #fff;
  --text: #121212;
  --blueA: #c4edff;
  --blueB: #a7e4ff;
  --blueC: #2bbbfb;
  --blueD: #1568c3;
  --wA: #ecf9ff;
  --error: oklch(63.7% 0.237 25.331);
}

:root.dark {
  --background: #121212;
  --text: #f5f5f5;
  --blueA: #092a51;
  --blueB: #144d83;
  --blueC: #20b6f9;
  --blueD: #40c4ff;
  --wA: #2c2d3a;
  --error: oklch(69.242% 0.15146 21.764);
}

.carousel {
  @apply flex-shrink-0 flex-grow-0 basis-full;
}

.carousels {
  @apply overflow-auto snap-x;
}

button{
  @apply cursor-pointer;
}